---
---

@import "minimal-mistakes";

/* Import your new partial after the theme */
@import "minimal-mistakes/portfolio";  // or "minimal-mistakes/custom/portfolio"

html {
  font-size: 18px; // change to whatever

  @include breakpoint($medium) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}

img.cnt {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  display: table; /* Ensures the table behaves properly */
  border-collapse: collapse; /* Keeps the borders neat */
}


.layout--portfolio {
  #main {
    @include breakpoint($x-large) {
      max-width: 1500px; // or whatever custom width you want
    }
  }
}